<header class="article-header">
    {{- $video := .Page.Resources.Get (.Params.video) -}}
    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{ if $video }}
        <div class="article-image">
            <a href="{{ if page.IsPage }}{{ $video.RelPermalink }}{{ else }}{{ .RelPermalink }}{{ end }}">
            <video
            src="{{- $video.RelPermalink -}}"
            {{ if $image.resource }}poster="{{ $image.resource.RelPermalink }}"{{ end }}
            autoplay loop
            >
    {{ end }}
    {{ if $image.exists }}
        {{ if not $video }}<div class="article-image">{{ end }}
            {{ if $image.resource }}
                {{ if not $video }}<a href="{{ if page.IsPage }}{{ $image.resource.RelPermalink }}{{ else }}{{ .RelPermalink }}{{ end }}">{{ end }}
                    {{- $Permalink := $image.resource.RelPermalink -}}
                    {{- $Width := $image.resource.Width -}}
                    {{- $Height := $image.resource.Height -}}
                    {{- $Srcset := "" -}}

                    {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                        {{- $thumbnail := $image.resource.Resize "800x" -}}
                        {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
                        {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                    {{- end -}}

                    <img src="{{ $Permalink }}"
                        {{ with $Srcset }}srcset="{{ . }}"{{ end }}
                        width="{{ $Width }}" 
                        height="{{ $Height }}" 
                        loading="lazy"
                        alt="Featured image of post {{ .Title }}" />
                {{ if not $video }}</a>{{ end }}
            {{ else }}
                {{ if not $video }}<a href="{{ if page.IsPage }}{{ $image.permalink }}{{ else }}{{ .RelPermalink }}{{ end }}">{{ end }}
                    <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
                {{ if not $video }}</a>{{ end }}
            {{ end }}
        {{ if not $video }}</div>{{ end }}
    {{ end }}
    {{ if $video }}
                </video>
            </a>
        </div>
    {{ end }}

    {{ partialCached "article/components/details" . .RelPermalink }}
</header>
